{{!-- Criado formulário para enviar informações através do metodo post para a rota ADD --}}
<form action="/add" method="POST">
    <p>Titulo: </p>
    <input type="text" name="titulo" id="titulo">
    <p>Conteúdo</p>
    <input type="text" name="conteudo" id="conteudo">
    <button type="submit">Cadastrar postagem.</button>
</form>